{% extends "base.html" %}
{% block content %}
<div class="container pt-4">
  <h3>Add Voter</h3>
  <form method="POST">
    <div class="mb-2"><input class="form-control" name="name" placeholder="Name" required></div>
    <div class="mb-2"><input class="form-control" name="guardian" placeholder="Guardian" required></div>
    <div class="mb-2"><input class="form-control" name="houseno" placeholder="House No" required></div>
    <div class="mb-2">
      <select class="form-control" name="party" required>
        <option value="">Select Party</option>
        <option value="LDF">LDF</option>
        <option value="UDF">UDF</option>
        <option value="NDA">NDA</option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Add Voter</button>
  </form>
</div>
{% endblock %}
