<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Guardian's Name</th>
            <th>House No</th>
            <th>House Name</th>
            <th>Political Party</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for voter in voters %}
        <tr>
            <td>{{ loop.index0 }}</td>
            <td>{{ voter['Name'] }}</td>
            <td>{{ voter["Guardian's Name"] }}</td>
            <td>{{ voter['House No'] }}</td>
            <td>{{ voter['House Name'] }}</td>
            <td>{{ voter['Political Party'] }}</td>
            <td>
                <a href="/edit/{{ loop.index0 }}">Edit</a>
                <a href="/delete/{{ loop.index0 }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/add">Add Voter</a>
<a href="/summary">Vote Summary</a>
