<!DOCTYPE html>
<html lang="ml">
<head>
  <meta charset="UTF-8">
  <title>Edit Voter</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam:wght@400;700&display=swap" rel="stylesheet">
  <style>
    body {
      background: #111;
      color: #fff;
      font-family: 'Noto Sans Malayalam', sans-serif;
    }
    input, label {
      display:block;
      margin:10px 0;
    }
    .btn-edit, .btn-delete, .btn-add {
      color: #fff; padding: 10px; border:none; cursor:pointer;
    }
    .btn-edit { background: #1B62F1; }
    .btn-delete { background:#F15440; }
    .btn-add { background:#B620F1; }
  </style>
</head>
<body>
  <h1>Edit Voter</h1>
  <form method="POST">
    <label>പേര്:</label>
    <input type="text" name="name" value="{{ voter['Name'] }}" required>
    <label>Guardian:</label>
    <input type="text" name="guardian" value="{{ voter["Guardian's Name"] }}" required>
    <label>House No.:</label>
    <input type="text" name="house_no" value="{{ voter["House No."] }}" required>
    <label>House Name:</label>
    <input type="text" name="house_name" value="{{ voter["House Name"] }}" required>
    <label>Political Party:</label>
    <input type="text" name="party" value="{{ voter["Political Party"] }}" required><br><br>
    <button type="submit" class="btn-edit">Save</button>
    <a href="/" style="margin-left:20px; color:#fff;">Cancel</a>
  </form>
</body>
</html>
